<h4 *ngIf='!personne' class="center">
    <app-loader></app-loader>
</h4>
<div class="row" *ngIf="personne">
    <div class="col s12 m6 offset-m3">
      <div class="card">
        <div class="card-image">
          <img src="{{personne.image}}" height="250px" width="100%">
          <span class="card-title">{{personne.nom}} {{personne.prenom}}</span>
        </div>
        <div class="card-content">
            <p>{{personne.age}}</p>
          <p>{{personne.description}}</p>

          <a routerLink="/personne/editer/{{personne.id}}" class="btn-floating  waves-effect waves-light blue secondary-content">
                <i class="material-icons">edit</i></a>
          <a (click)="deleteAPerson()" class="btn-floating  waves-effect waves-light red secondary-content">
                <i class="material-icons">delete</i></a>
          <a routerLink="/personne" class="btn-floating  waves-effect waves-light red secondary-content">
                <i class="material-icons">arrow_back</i></a>
          <br>
        </div>
      </div>
    </div>
  </div>